<!-- MODAL 1A-CONFIRMATION MESSAGE -->
<div class="modal-content d-none" id="confirmation-message">
{{!-- <div class="modal d-none" id="confirmation-message"> --}}
  <div class="modal-header d-flex justify-content-center align-items-center">
    <!-- BUTTON X CLOSE MODAL -->
    <img src="svg/book-step3.svg" class="booking-steps" />
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  
  <div class="modal-body justify-content-center" id="body-confirmation-message">

    <!-- CUSTOMIZE CONFIRMATION MESSAGE -->
    <div class="inline-flex-confirmation flex-column">
      <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
      {{!-- <lord-icon
        src="https://cdn.lordicon.com/lupuorrc.json"
        trigger="hover"
        colors="primary:#121331,secondary:#08a88a"
        style="width:200px;height:200px"
      >
      </lord-icon> --}}
       <iframe src="https://embed.lottiefiles.com/animation/146665"></iframe> 
      {{! <img class="pt-3" src="svg/confirmation-icon.svg"> }}
      <div>
        <!-- title -->
        <div class="main-titles-30px">Booking Confirmed</div>
        <h6 class="pb-5">Thank you for choosing to stay at Comforta Hotel We are
          delighted to confirm your reservation, and look forward to welcoming
          you.</h6>
      </div>

      <div class="mt-3 d-flex gap-4 justify-content-center">
        <a href="/" class="btn primary-button"> BACK TO HOMEPAGE</a>
        <!-- <button class="btn primary-button">BACK TO HOMEPAGE</button> -->
        <a href="/profilePage" class="btn primary-button"> VIEW BOOKING</a>
        <!-- <button class="btn primary-button">VIEW BOOKING</button> -->
      </div>

    </div>
    <!-- CUSTOMIZE CONFIRMATION MESSAGE -->
  </div>
</div>